@import '../variables.css';

@media (min-width: 320px) {
	:root {
		--image-size: 200px;
	}
}
@media (min-width: 850px) {
	:root {
		--image-size: 250px
	}
}
@media (min-width: 1200px) {
	:root {
		--image-size: 400px
	}
	.meme:hover .meme__image {
		display: block;
		animation: show-image 1.5s forwards;
	}
	@keyframes show-image {
		100% {
			height: var(--image-size)
		}
	}
	.meme:hover .meme__icon_open {
		animation: turn 1s forwards;
	}
	@keyframes turn {
		100% {
			rotate: 45deg;
		}
	}
	.meme:active .meme__title {
		color: var(--active-text-color);
	}
	.meme:active .meme__line {
		border-color: var(--active-text-color);
	}
	.meme:active .meme__icon {
		filter: invert(41%) sepia(95%) saturate(682%) hue-rotate(84deg) brightness(108%) contrast(88%);
	}
}
