@import '../variables.css';

@media (min-width: 320px) {
	:root {
		--image-size: 200px;
	}
	.meme__line {
		margin: 5px 0 5px;
	}
}
@media (min-width: 850px) {
	:root {
		--image-size: 250px
	}
	.meme__line {
		margin: 10px 0 10px;
	}
}
@media (min-width: 1200px) {
	:root {
		--image-size: 400px
	}
	.meme__line {
		margin: 15px 0 15px;
	}
	.meme:hover .meme__image {
		display: block;
		animation: show-image 1.5s forwards;
	}
	@keyframes show-image {
		100% {
			height: var(--image-size)
		}
	}
	.meme:hover .meme__icon_open {
		animation: turn 1s forwards;
	}
	@keyframes turn {
		100% {
			rotate: 45deg;
		}
	}
	.meme-list:hover .meme__title {
		color: var(--text-color);
	}
	.meme-list:hover .meme__line {
		border-color: var(--line-color);
	}
	.meme-list:hover .meme__icon {
		filter: none;
	}
	.meme-list:hover .meme__icon {
		display: block;
	}
	.meme:active .meme__title {
		color: var(--active-text-color);
	}
	.meme:active .meme__line {
		border-color: var(--active-text-color);
	}
	.meme:active .meme__icon {
		/* filter: invert(41%) sepia(95%) saturate(682%) hue-rotate(84deg) brightness(108%) contrast(88%); */
		filter: invert(21%) sepia(34%) saturate(4072%) hue-rotate(248deg) brightness(85%) contrast(113%);
	}
}
