@import '../variables.css';
@import './adaptive.css';

.meme {
	width: 100%;
	cursor: pointer;
	margin-bottom: 20px;
}
.meme__title {
	margin-bottom: 10px;
}
.meme__line {
	border: 1px solid var(--line-color);
	margin-bottom: 20px;
	margin-top: 20px;
}
.meme__icon {
	height: 16px;
	width: 16px;
	display: none;
}
.meme__image {
	height: 0;
	width: var(--image-size);
	margin: 0 auto;
	display: none;
}
.meme__header {
	display: flex;
	justify-content: space-between;
}
.meme__title {
	color: var(--active-text-color);
}
.meme__line {
	border-color: var(--active-text-color);
}
.meme__icon {
	/* filter: invert(41%) sepia(95%) saturate(682%) hue-rotate(84deg) brightness(108%) contrast(88%); */
	filter: invert(21%) sepia(34%) saturate(4072%) hue-rotate(248deg) brightness(85%) contrast(113%);
}
.meme_active .meme__title {
	color: var(--text-color);
}
.meme_active .meme__line {
	border-color: var(--line-color);
}
.meme_active .meme__icon {
	filter: none;
}
.meme__image_active {
	height: var(--image-size);
	display: block;
}
