@media (min-width: 320px) {
	.gh-link {
		font-size: 15px;
	}
}
@media (min-width: 850px) {
	.gh-link {
		font-size: 20px;
	}
}
@media (min-width: 1200px) {
	.gh-link {
		font-size: 25px;
	}
}