@import './reset.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Poppins:wght@200;400;700&display=swap');
@import './layout/header.css';
@import './layout/footer.css';
@import './meme.css';
* {
	font-family: 'Poppins', sans-serif;
}
body {
	background: var(--background-color);
}
.container {
	max-width: 1200px;
	margin: 0 auto 20px auto;
}