@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Poppins:wght@200;400;700&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}
body {
	background: #f0e3d1;
}
.container {
	max-width: 1200px;
	margin: 0 auto 20px auto;
}
.line {
	border: 1px solid #000;
	margin-bottom: 20px;
}
.icon {
	width: 16px;
	height: 16px;
}
.header__container {
	text-align: center;
}
.header__title {
	font-size: 30px;
	margin: 30px 0 30px 0;
}
.meme {
	width: 100%;
	cursor: pointer;
	margin-bottom: 20px;
}
.meme__header {
	display: flex;
	justify-content: space-between;
}
.meme__image {
	height: 400px;
	width: 400px;
	display: block;
	margin: 0 auto;
}
.meme__line {
	margin-top: 20px;
}
.footer__container {
	text-align: center;
}
.gh-link {
	font-size: 25px;
	color: #fff;
	border: 2px solid #000;
	padding: 5px;
	background: #000;
	border-radius: 5px;
}