@import './variables.css';

.meme {
	width: 100%;
	cursor: pointer;
	margin-bottom: 20px;
}
.meme__title {
	margin-bottom: 10px;
}
.meme__line {
	border: 1px solid var(--line-color);
	margin-bottom: 20px;
	margin-top: 20px;
}
.meme__icon {
	height: 16px;
	width: 16px;
}
.meme__image {
	height: 0;
	width: var(--image-size);
	margin: 0 auto;
	display: none;
}
.meme:hover .meme__image {
	display: block;
	animation: show-image 1.5s forwards;
}

@keyframes show-image {
	100% {
		height: var(--image-size)
	}
}
.meme:hover .meme__icon_open {
	animation: turn 1s forwards;
}
@keyframes turn {
	100% {
		rotate: 45deg;
	}
}
.meme:active .meme__title {
	color: var(--active-text-color);
}
.meme:active .meme__line {
	border-color: var(--active-text-color);
}
.meme:active .meme__icon {
	filter: invert(41%) sepia(95%) saturate(682%) hue-rotate(84deg) brightness(108%) contrast(88%);
}
.meme__header {
	display: flex;
	justify-content: space-between;
}
.meme__image_active {
	height: var(--image-size);
	display: block;
}
@media (max-width: 850px) {
	:root {
		--image-size: 250px
	}
}
@media (max-width: 320px) {
	:root {
		--image-size: 100%;
	}
}