:root {
	--background-color: #f0e3d1;
	--link-text-color: #fff;
	--link-background-color: #000;
	--line-color: #000;
	--active-link-background-color:  rgb(43, 179, 43);
	--active-text-color:  rgb(43, 179, 43);
}