:root {
	--text-color: #000;
	--background-color: #f0e3d1;
	--link-text-color: #fff;
	--link-background-color: #000;
	--line-color: #000;
	--active-link-background-color:  #18b828;
	--active-text-color:  #18b828;
	--image-size: 400px;
}